@media screen and (max-width: 768px) {
  .mobile-menu-btn {
    display: block;
    margin-right: 20px;
    margin-left: auto;
    height: 36px;
    width: 36px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
  }

  .mobile-menu-btn:active,
  .mobile-menu-btn:focus,
  .mobile-menu-btn:hover {
    opacity: 0.5;
  }
}
